<!--All New Form to create new todo-->
<div class="text-center">
    <h4>Add task detail info</h4>
</div>
<div id="todo-form" class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
        <form name="myForm">
            <div class="form-group">
                <input type="text" name="text" class="form-control input-lg text-center" placeholder="Enter new task"
                       ng-model="formData.text" required>
            </div>
            <button class="btn btn-primary btn-lg" ng-disabled="myForm.text.$error.required" ng-click="createTodo()"> Add</button>
        </form>
    </div>
</div>